@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');

body {
    margin: 0;
    font-family: "Inder", serif;
    box-sizing: border-box;
    background-color: rgb(238, 247, 247);
}

.alinhamento-total-da-pg{
    padding: 0px;
}
/*-------------------------------------------conteudo*/

.conteudo1{
    display: flex;
    justify-content: space-between;
    background-color: #bfd7ed;
    width: 70%;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 20%;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
.titulo-conteudo1 > h1{
    font-size: 30px;
    font-weight: bolder;
}
.texto-conteudo1 {
    font-size: 20px;
    margin: 4% 4%;
}




/*-----------------------------------------conteudo2*/

.conteudo2{
    background-color: #bfd7ed;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}
.elemento1-conteudo2{
    display: flex;
    flex-direction: column;
}
.texto-conteudo2{
    background-color: #89c4f4;
    width: 600px;
    height: auto;
    margin-bottom: 60px;
    padding: 40px;
}
.texto-conteudo2 > p{
    font-size: 20px;
}
.follow-us-conteudo2{
    background-color: #89c4f4;
    width: 600px;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.elemento2-conteudo2{
    width: 30%;
    border-radius: 80px;
}

/*---------------------------------------media query------------------------------------------*/

@media (max-width: 973px) {
   
    .conteudo2{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .elemento2-conteudo2{
        display: flex;
        width: 100%;
    }

}



@media (max-width: 613px) {
    .conteudo2{
        flex-direction: column;
        height: 100%;
        gap: 40px;
        margin-bottom: 50px;
    }
    .texto-conteudo2{
        margin-top: 40px;
    }
    .elemento1-conteudo2{
        width: 100%;
        align-items: center;
        justify-content: center;
       
    }
    .elemento2-conteudo2 {
        width: 90%;
        margin-bottom: 40px;
    }
    .conteudo1{
        width: 100%;
        padding: 0%;
    }
    .elemento1-conteudo2{
        display: flex;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .texto-conteudo2{
        display: flex;
        width: 100%;
    }
    .follow-us-conteudo2{
        display: flex;
        width: 100%;
    }
 
}